@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark-950 text-white antialiased;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* App-like feel */
}

/* Scrollbar reset */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}